@{
    ViewBag.Title = "About";
	ViewBag.Message = "Your app description page.";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>The Document Station is all about documents and making them searchable!</p>
</article>

<aside>
    <h3>ProTip</h3>
    <p>Du not rely on the data integrity of the Document Station, this is only a pet project of mine where I test stuff!</p>
</aside>