@{
    ViewBag.Title = "Contact";
	ViewBag.Message = "Your contact page.";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section>
	<header>
		<h3>Email</h3>
	</header>

	<dl>
        <dt>Support:</dt>
        <dd><a href="mailto:Support@example.com">Support@example.com</a></dd>
		
        <dt>Marketing:</dt>
        <dd><a href="mailto:Marketing@example.com">Marketing@example.com</a></dd>

        <dt>General:</dt>
        <dd><a href="mailto:General@example.com">General@example.com</a></dd>
	</dl>
</section>
