@{
    ViewBag.Title = "Home Page";
	ViewBag.Message = "Modify this template to jump-start your ASP.NET MVC application.";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>The document station can store and enable searching the content of your documents.</p>
        </div>
    </section>
}
<h3>Step by step:</h3>
<ol class="round">
    <li>Log in with your OpenId provider</li>

    <li>Add document(s)</li>

    <li>Search</li>
</ol>
