<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
		<section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
	</configSections>

	<!--
	http://code.google.com/p/elegantcode/source/browse/trunk/Spikes/NSB.Starbucks/Libraries/NServiceBus/TimeoutManager/Timeout.MessageHandlers.dll.config
	<MsmqTransportConfig InputQueue="timeoutmanager" ErrorQueue="error" NumberOfWorkerThreads="1" MaxRetries="5" />
	-->
	<MsmqTransportConfig ErrorQueue="Ddd.Template.Error" NumberOfWorkerThreads="1" MaxRetries="5" />

	<MessageForwardingInCaseOfFaultConfig ErrorQueue="Ddd.Template.Error" />

	<connectionStrings>
		<add name="RavenDb" connectionString="Url=http://localhost:8080/;Database=Ddd.Template.Domain" />
		<add name="NServiceBus.Persistence" connectionString="Url=http://localhost:8080/;Database=Ddd.Template.NServiceBus.domain" />
	</connectionStrings>

	<appSettings>
		<add key="log4net.Config" value="log4net.config" />
		<add key="log4net.Config.Watch" value="True" />

		<add key="RavenDbName" value="Ddd.Template.Domain" />
		<add key="NServiceBus.Persistence.RavenDbName" value="Ddd.Template.NServiceBus.domain" />
	</appSettings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
