/********************
*   Desktop Styles   *
********************/
@media only screen and (min-width: 960px) {

/* font size: 16px multiplied with 60em (width of header, #body, footer) equals 960px */


	body {
		background-image: url('images/background-blue.jpg');
	}

	.site-title {
		float: left;
	}

	html #login,
	html nav,
	html ul#menu {
		text-align: right;
	}

	html footer { text-align: left; }

	/* content */
	article {
		float: left;
		width: 70%;
	}

	aside {
		float: right;
		width: 25%;
	}
}
