@import url('highres.css');

/* Reset
----------------------------------------------------------*/
header, footer, hgroup,
nav, section {
	display: block;
}

/* Basic styles
----------------------------------------------------------*/
html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #002F57;
	color: #333;
	font-size: 16px;
	font-family: Verdana, Helvetica, Sans-Serif;
	margin: 0;
	padding: 0;
	padding-bottom: 2em;
	padding-top: 2em;
}

a {
	color: #333;
	text-decoration: underline;
}

a:link, a:visited,
a:active, a:hover {
	color: #333;
}

a:hover,
a:focus {
	outline: 3px solid #7ac0da;
	text-decoration: none;
}

/* headers
----------------------------------------------------------*/
h1, h2, h3,
h4, h5, h6 {
	color: #000;
	margin-bottom: 0;
	padding-bottom: 0;
}

h1 { font-size: 2em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }
h5, h6 { font-size: 1em; }

/* Lists
----------------------------------------------------------*/
ul {
	list-style: none;
	padding: 0;
}

ul,
dl {
	margin: 0;
}

dt,
dd,
li {
	margin: 0;
	padding: 0;
}

dt {
	margin-top: 0.4em;
	padding-left: 1em;
	font-weight: 700;
}

dd {
	padding-left: 1em;
}

/* Clearfix
----------------------------------------------------------*/

/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}

/* main layout
----------------------------------------------------------*/
header,
#body,
footer {
	margin: 0 auto;
	max-width: 60em;
}

body > header { background: #fff; }
#body { background-color: #efeeef; }
footer { background: #e2e2e2; }

.content-wrapper { padding: 1.5em 3em 0.5em 2em; }
footer .content-wrapper { font-size: .8em; padding-bottom: 1.5em; }

.main-content { background: url("images/accent.png") no-repeat 1em 0; }
.featured + .main-content { background-image: url("images/heroAccent.png"); }

.site-title,
#login,
ul#menu,
footer {
	text-align: center;
}


/* site title
----------------------------------------------------------*/
.site-title {
	color: #c8c8c8;
	font-family: "Courier New", Courier, monospace;
	font-size: 2.3em;
}

.site-title a {
	color: #c8c8c8;
	text-decoration: none;
}

/* login
----------------------------------------------------------*/
#login {
	display: block;
	font-size: .85em;
}

/* menu
----------------------------------------------------------*/
ul#menu {
	font-size: 1.3em;
}

ul#menu li {
	display: inline-block;
	list-style: none;
	padding-left: 0.5em;
}

ul#menu li a { color: #999; }
ul#menu li a:hover { color: #333; }

/* Page elements
----------------------------------------------------------*/
/* featured */
.featured .content-wrapper {
	background-color: #7ac0da;
	color: #3e5667;
}

.featured hgroup.title h1, .featured hgroup.title h2 { color: #fff; }

.featured p { font-size: 1.1em; }

/* page titles */
hgroup.title h1, hgroup.title h2 { display: inline; }

hgroup.title h2 { font-weight: normal; }

/* Forms
----------------------------------------------------------*/
fieldset {
	border: 1px solid #e2e2e2;
	margin: 0;
	padding: 0.5em;
}

label {
	display: block;
	font-size: 1.2em;
	font-weight: 600;
}

label.checkbox { display: inline; }

input, textarea {
	border: 1px solid #e2e2e2;
	font-size: 1.2em;
	margin: 5px 0 6px 0;
	padding: 5px;
	min-width: 97%;
	max-width: 25em;
}

textarea {
	font-family: inherit;
	height: 5em;
}

input[type="checkbox"] {
	background: transparent;
	border: inherit;
	width: auto;
}

input[type="submit"],
input[type="button"],
input[type="reset"],
button {
	background-color: #d3dce0;
	border: 1px solid #787878;
	cursor: pointer;
	font-size: 1.2em;
	font-weight: 600;
	margin-right: 8px;
	min-width: 0;
	max-width: none;
	width: auto;
}

input:focus,
textarea:focus,
button:focus {
	outline: 3px solid #7ac0da;
}

form input[type=submit]:first-of-type {
	background-color: #7ac0da;
}

/* User feedback
----------------------------------------------------------*/
.message-info {
	border: 1px solid;
	clear: both;
	padding: 10px 20px;
}

.message-error {
	clear: both;
	color: #e80c4d;
	font-size: 1.1em;
	font-weight: bold;
	margin: 20px 0 10px 0;
}

.message-success {
	color: #7ac0da;
	font-size: 1.3em;
	font-weight: bold;
	margin: 20px 0 10px 0;
}

.error {
	color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
	color: #e80c4d;
	font-weight: bold;
}

.field-validation-valid {
	display: none;
}

input.input-validation-error {
	border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
	border: 0 none;
}

.validation-summary-errors {
	color: #e80c4d;
	font-weight: bold;
	font-size: 1.1em;
}

.validation-summary-valid {
	display: none;
}
