@{
    ViewBag.Title = "About";
	ViewBag.Message = "Your app description page.";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
	<p>The DDD Template is a flying start for your domain driven application!</p>
	
	<form action="#" method="POST">
		<fieldset>
			<legend>Demo form</legend>

			<label for="name">Name</label>
			<input type="text" id="name" name="name" />

			<label for="email">Email</label>
			<input type="email" id="email" name="email" />
		
			<label for="phone">Phone</label>
			<input type="tel" id="phone" name="phone" />
		
			<label for="message">Message</label>
			<textarea id="message" name="message"></textarea>

			<div>
				<input type="submit" name="operation" value="Send" />
				<input type="reset" value="Reset" />
			</div>
		</fieldset>
	</form>
</article>

<aside>
    <h3>Note</h3>
    <p>This is a pet project of mine where I test and learn stuff!</p>
</aside>