@{
    ViewBag.Title = "About";
	ViewBag.Message = "Your app description page.";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>The DDD Template is a flying start for your domain driven application!</p>
</article>

<aside>
    <h3>Note</h3>
    <p>This is a pet project of mine where I test and learn stuff!</p>
</aside>