@{
    ViewBag.Title = "Home Page.";
	ViewBag.Message = "Modify this template to jump-start your DDD application.";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>Welcome to the DDD template.</p>
        </div>
    </section>
}

<h3>What can we play with?</h3>
<ul>
	<li>Invoke domain commands</li>

	<li>Listen to domain events.</li>

	<li>Search</li>

	<li>Log in with your OpenId provider</li>
</ul>
