<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
		<section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
	</configSections>

	<appSettings>
		<add key="log4net.Config" value="log4net.config" />
		<add key="log4net.Config.Watch" value="True" />

		<add key="RavenDbName" value="Ddd.Template.Projections" />
		<add key="NServiceBus.Persistence.RavenDbName" value="Ddd.Template.NServiceBus.Projections" />
	</appSettings>

	<UnicastBusConfig>
		<MessageEndpointMappings>
			<add Messages="Ddd.Template.Contracts" Endpoint="Ddd.Template.Domain" />
		</MessageEndpointMappings>
	</UnicastBusConfig>

	<MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
	<!--
	<SecondLevelRetriesConfig Enabled="true" TimeIncrease="00:00:10" NumberOfRetries="3" />
	-->

	<connectionStrings>
		<add name="RavenDb" connectionString="Url=http://localhost:8080/;Database=Ddd.Template.Projections" />
		<add name="NServiceBus.Persistence" connectionString="Url=http://localhost:8080/;Database=Ddd.Template.NServiceBus.Projections" />
	</connectionStrings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
